@model IEnumerable<Site_v3_dinamico.Models.Encomenda>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Patrícia Gameiro - Site Pessoal</title>

    <!-- Tipos de letra embed -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

    @*Efeito de expandir da Formação Complementar*@
    <script src="~/js/meujs.js"></script>

    <!-- Ícones -->
    <script src="https://kit.fontawesome.com/8509cb6789.js" crossorigin="anonymous"></script>

    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />

</head>
<body>
    <div id="page-wraper" @*class="animate-in"*@>

        @RenderBody()
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <partial name="_LoginPartial" /> @*Chama o login partial*@
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="index.html"><img src="~/img/author-image.png" class="rounded-circle" alt="" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Patrícia Gameiro</h4>
                        <span>/dev in the making</span>
                    </div>
                    <h3 style="color:deeppink; font-weight: bold;">@ViewBag.Message novos pedidos!</h3>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            @if (User.IsInRole("Administradora"))
                            {
                                <li>
                                    <a asp-area="" asp-controller="Encomendas" asp-action="Index">Encomendas</a>
                                </li>
                                <li> <a asp-area="" asp-controller="Servicos" asp-action="Index">Serviços <i class="fas fa-pencil-alt"></i> </a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Sobre_mim">Sobre Mim</a></li>
                                <li> <a asp-area="" asp-controller="Home" asp-action="Competencias">Competências</a></li>
                                <li> <a asp-area="" asp-controller="Formacao" asp-action="Index">Formação <i class="fas fa-pencil-alt"></i> </a></li>
                                <li> <a asp-area="" asp-controller="Exp_Profissional" asp-action="Index">Experiência Profissional <i class="fas fa-pencil-alt"></i> </a></li>

                            }
                            @if (!User.IsInRole("Administradora"))
                            {



                                <li> <a asp-area="" asp-controller="Servicos" asp-action="Index">Loja</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Sobre_mim">Sobre Mim</a></li>
                                <li> <a asp-area="" asp-controller="Home" asp-action="Competencias">Competências</a></li>
                                <li> <a asp-area="" asp-controller="Formacao" asp-action="Index">Formação</a></li>
                                <li> <a asp-area="" asp-controller="Exp_Profissional" asp-action="Index">Experiência Profissional</a></li>
                            }



                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://www.facebook.com/jjboceoficial" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            </li>

                            <li>
                                <a href="https://twitter.com/Lendea_Viva" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="https://github.com/LendeaViva" target="_blank">
                                    <i class="fab fa-github"></i>

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>Copyright 2019 Reflux Design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Scripts
        Bootstrap core JavaScript*@
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
