@model RegistoClienteViewModel

@{ ViewData["Title"] = "Registo"; }

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form style="color: white;" asp-action="Registo">
                    <div class="section-heading">
                        <h2>Criar registo de cliente</h2>
                        <div class="line-dec"></div>
                        <p style="color:white; font-size: 14px;">
                            Por favor crie um registo de cliente, para que possa ser contactado/a mais facilmente.
                        </p>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telemóvel" class="control-label"></label>
                        <input asp-for="Telemóvel" class="form-control" />
                        <span asp-validation-for="Telemóvel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmePassword" class="control-label"></label>
                        <input asp-for="ConfirmePassword" class="form-control" />
                        <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registar" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
</section>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
