@model Site_v3_dinamico.Models.CompetenciasD

@{
    ViewData["Title"] = "Delete";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover competência digital</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Tem a certeza de que pretende remover esta competência digital?</h3>
        </div>
            <table style="margin-left: auto;
                    margin-right: auto;
                    border-collapse: separate;">
                    <tr style="height: 40px;">
                        <td style="margin-right: 100px; color: white;">
                            @Html.DisplayFor(model => model.nomeComp)
                        </td>
                        <td class="skills" style="margin-left: 100px;">

                            @*<ul>
                                @for (int i = 0; i < (model.nomeComp); i++)
                                {
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                }

                                @for (int i = 0; i < 5 - model.nomeComp; i++)
                                {
                                    <li>
                                        <i class="far fa-star"></i>
                                    </li>
                                }
                            </ul>*@

                        </td>
                    </tr>

                }
            </table>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CompetenciasDId" />
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a class="btn btn-primary" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</section>