
@{
    ViewData["Title"] = "Competência inexistente";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>@ViewBag.Title <i class="fas fa-check" style="color: #06a11a"></i></h2>
                    <div class="line-dec"></div>
                </div>
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body" style="background-color: #06a11a">
                        </>

                        <p class="card-text">A competência que selecionou já não existe.</p>

                        <div>
                            <a class="btn btn-primary" asp-action="Index">
                                Ver Competências
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
