@model Site_v3_dinamico.Models.SobreMim

@{
    ViewData["Title"] = "Create";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Adicionar linha Sobre Mim</h2>
                    <div class="line-dec"></div>
                </div>
                <form style="color: white;" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="descricao" class="control-label"></label>
                        <input asp-for="descricao" class="form-control" />
                        <span asp-validation-for="descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
