@model Site_v3_dinamico.Models.SobreMim

@{
    ViewData["Title"] = "Delete";
}


<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover sobre mim</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Tem a certeza de que pretende remover este sobre mim?</h3>
        </div>
        <table style="color: white;">

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.descricao)
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.DisplayFor(model => model.descricao)
                </td>
                
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="SobreMimId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Cancelar</a>
        </form>
    </div>
</section>