
@{
    ViewData["Title"] = "Competencias";
}


<!--Competências-->
<section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h2>Competências</h2>
            <div class="line-dec"></div>
        </div>
        <!-- Competências Pessoais -->
        <div class="row mb-5 d-flex justify-content-center">
            <div class="flip-card col-md-3 mb-5">
                <div class="flip-card-inner ">
                    <div class="flip-card-front align-items-center d-flex justify-content-center">
                        <h1>Comunicação</h1>
                    </div>
                    <div class="flip-card-back align-items-center d-flex justify-content-center">
                        Comunicação clara e empática, adaptada ao contexto e ao tipo de público-alvo, em português e em inglês
                    </div>
                </div>
            </div>

            <div class="flip-card col-md-3 mb-5">
                <div class="flip-card-inner ">
                    <div class="flip-card-front align-items-center d-flex justify-content-center">
                        <h1>Trabalho em equipa</h1>
                    </div>
                    <div class="flip-card-back align-items-center d-flex justify-content-center">
                        Experiência em integração de equipas multidisciplinares
                        com profissionais de diferentes nacionalidades
                    </div>
                </div>
            </div>

            <div class="flip-card col-md-3 mb-5">
                <div class="flip-card-inner ">
                    <div class="flip-card-front align-items-center d-flex justify-content-center">
                        <h1>Resolução de problemas</h1>
                    </div>
                    <div class="flip-card-back align-items-center d-flex justify-content-center">
                        Facilidade na adaptação à mudança e na criação de soluções em situações limite
                    </div>
                </div>
            </div>

            <div class="flip-card col-md-3 mb-5">
                <div class="flip-card-inner ">
                    <div class="flip-card-front align-items-center d-flex justify-content-center">
                        <h1>Resiliência</h1>
                    </div>
                    <div class="flip-card-back align-items-center d-flex justify-content-center">
                        Capacidade de gestão emocional
                        em ambientes de trabalho exigentes
                        com elevados padrões de qualidade
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Competéncias Técnicas-->
    <div class="row">
        <div class="col-md-6 justify-content-center">
            <div class="row">
                <div class="skills col-6 d-flex justify-content-end">
                    <p>C#</p>
                </div>
                <div class="col-6 align-items-center">
                    <div class="skills ">
                        <ul>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skills col-6 d-flex justify-content-end ">
                    <p>HTML/CSS</p>
                </div>
                <div class="col-6 align-items-center">
                    <div class="skills">
                        <ul>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="skills col-6 d-flex justify-content-end">
                    <p>Javascript</p>
                </div>
                <div class="col-6 align-items-center">
                    <div class="skills">
                        <ul>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" skills col-6 d-flex justify-content-end">
                    <p>Bootstrap</p>
                </div>
                <div class="col-6 align-items-center">
                    <div class="skills">
                        <ul>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                            <li>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>


        <div class="rings col-6  d-flex justify-content-left">

            <div class="percent1 col-6 col-md-3">
                <svg>
                    <circle cx="30" cy="30" r="30"></circle>
                    <circle cx="30" cy="30" r="30"></circle>
                </svg>
                <div class="rings-icon">
                    <img src="~/img/icone-competencia.png"
                         alt="sq-sample26" />
                </div>
            </div>
            <div class="percent2 col-6 col-md-3 ">
                <svg>

                    <circle cx="30" cy="30" r="30"></circle>
                    <circle cx="30" cy="30" r="30"></circle>
                </svg>
                <div class="rings-icon">
                    <img src="~/img/icone-competencia-2.png"
                         alt="sq-sample26" />
                </div>
            </div>

            <div class="percent3 col-6 col-md-3 ">
                <svg>
                    <circle cx="30" cy="30" r="30"></circle>
                    <circle cx="30" cy="30" r="30"></circle>
                </svg>
                <div class="rings-icon">
                    <img src="~/img/icone-competencia-3.png"
                         alt="sq-sample26" />
                </div>
            </div>
            <div class="percent4 col-6 col-md-3 ">
                <svg>

                    <circle cx="30" cy="30" r="30"></circle>
                    <circle cx="30" cy="30" r="30"></circle>
                </svg>
                <div class="rings-icon">
                    <img src="~/img/icone-competencia-4.png"
                         alt="sq-sample26" />
                </div>
            </div>

        </div>

    </div>

</section>


