
@{
    ViewData["Title"] = "Contactos";
}

<h1>Contactos</h1>

<!--Contactos-->
<section class="section contact-me" data-section="section4">
    <div class="container">
        <div class="section-heading">
            <h2>Contactos</h2>
            <div class="line-dec"></div>

        </div>
        <div class="container" style="max-width:300px; justify-content: center;">
            <div class="row ">
                <div class="col-4 contactos-icones ">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="col-8 contactos">
                    ppp@gmail.com
                </div>
            </div>
            <div class="row">

                <div class="col-4 contactos-icones">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="col-8 contactos">
                    + 351 910000000
                </div>
            </div>

            <div class="row">
                <div class="col-4 contactos-icones">

                    <i class="fas fa-map-marker-alt"></i>

                </div>
                <div class="col-8 contactos">
                    Leiria
                </div>
            </div>

            <div class="row" ;>
                <div class="col-4 contactos-icones">

                    <i class="fab fa-skype"></i>
                </div>
                <div class="col-8 contactos">
                    skype
                </div>
            </div>

        </div>

    </div>

</section>


