
@{
    ViewData["Title"] = "Exp_Profissional";
}

<h1>Exp_Profissional</h1>

<!--Experiência Profissional-->
<section class="section my-work" data-section="section3">
    <div class="container">
        <div class="section-heading">
            <h2>Experiência Profissional</h2>
            <div class="line-dec"></div>

        </div>

        <div class="row profissional">
            <div class="col-3" style="margin-top: 20px">
                <a href="https://upskill.pt/" target="_blank">
                    <img src="assets/images/trabalho_01.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div class="col-2 vl">
                2021
                <hr />
            </div>
            <div class="col-7 profissional" style="margin-top: 20px;">
                <h4>Trainee</h4>
                <ul class="profissional">
                    <li>Programa de requalificação profissional na área das novas tecnologias</li>
                    <li>Estágio na multinacional Altran</li>
                </ul>

            </div>

            <div class="row profissional">

                <div class="col-3" style="margin-top: 20px;">
                    <a href="https://www.villaramadas.com/" target="_blank">
                        <img src="assets/images/trabalho_02.jpg" alt="Alternate Text" />
                    </a>

                </div>


                <div class="col-2 vl">
                    2020
                    <hr />
                    2017
                </div>

                <div class="col-7 profissional" style="margin-top: 20px;">

                    <h4>Psicóloga clínica e da saúde</h4>

                    <ul class="profissional">
                        <li>Acompanhamento psicoterapêutico individual de jovens e adultos, de abordagem cognitivo-comportamental, em português e inglês  </li>
                        <li>Dinamização e mediação de sessões terapêuticas de grupo (e.g.: psicoeducação, mindfulness, prevenção da recaída, terapia ocupacional)  </li>
                        <li>Integração de equipa multidisciplinar em parceria com multinacional holandesa</li>
                        <li>Elaboração de planos de tratamento individuais com estabelecimento de objetivos terapêuticos</li>
                        <li>Aplicação de instrumentos de avaliação psicológica e elaboração de relatórios</li>
                        <li>Coordenação de unidade terapêutica e gestão da respetiva equipa</li>
                        <li>Colaboração no desenvolvimento de modelo terapêutico adaptado e de materiais psicoeducativos</li>
                        <li>Desempenho de tarefas administrativas e logísticas inerentes à manutenção e organização interna da unidade terapêutica</li>
                    </ul>

                </div>
            </div>


        </div>

    </div>
</section>

