@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCover";
}

<!DOCTYPE html>
<div style="margin-top: 100px; ">
    <div class="cover">
        <h1>Patrícia Gameiro</h1>
        <h2>
            /dev in the making
        </h2>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a asp-area="" asp-controller="Home" asp-action="Sobre_mim" class="btn btn-success">Cliente</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success">Administradora</a> >
    </div>
</div>