
@{
    ViewData["Title"] = "Sobre_mim";
}


<!--Sobre Mim-->
<section class="section about-me" data-section="section1">
    <div class="container">
        <div class="section-heading">
            <h2>Sobre Mim</h2>
            <div class="line-dec"></div>
            <span>
                Psicóloga em processo de requalificação profissional para Web Developer,
                com conhecimentos de C#, HTML, CSS e Javascript.
            </span>
        </div>
        <div class="sobre-mim-icones">
            <div class="row">

                <div class="col-6 pb-3 col-xl-3">
                    <img class="rounded" src="~/img/sobre-mim-1.jpg" alt="" />
                </div>

                <div class="col-6 pb-3 col-xl-3">
                    <img class="rounded" src="~/img/sobre-mim-2.jpg" alt="" />
                </div>

                <div class="col-6 pb-3 col-xl-3">
                    <img class="rounded" src="~/img/sobre-mim-3.jpg" alt="" />
                </div>

                <div class="col-6 pb-3 col-xl-3">
                    <img class="rounded" src="~/img/sobre-mim-4.jpg" alt="" />
                </div>
            </div>


        </div>
    </div>
</section>

