@model Site_v3_dinamico.Models.CompetenciasP

@{
    ViewData["Title"] = "Delete";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover competência pessoal</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Tem a certeza de que pretende remover esta competência pessoal?</h3>
        </div>
        <div class="row mb-5 d-flex justify-content-center">

            <div class="flip-card col-md-3 mb-5">
                <div class="flip-card-inner ">
                    <div class="flip-card-front align-items-center d-flex justify-content-center">
                        <h1>  @Html.DisplayFor(model => model.nomeComp) </h1>
                    </div>
                    <div class="flip-card-back align-items-center d-flex justify-content-center">
                        @Html.DisplayFor(model => model.descricaoComp)
                    </div>
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CompetenciasPId" />
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a class="btn btn-danger" asp-area="" asp-controller="Competencias" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</section>