@model Site_v3_dinamico.Models.Formacao

@{
    ViewData["Title"] = "Create";
}

<!--Formação-->
<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form style="color: white;" asp-action="Create" enctype="multipart/form-data">
                    <div class="section-heading">
                        <h2>Adicionar formação</h2>
                        <div class="line-dec"></div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nomeCurso" class="control-label">Nome do Curso</label>
                        <input asp-for="nomeCurso" class="form-control" />
                        <span asp-validation-for="nomeCurso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nomeInstituicao" class="control-label">Nome da Instituição</label>
                        <input asp-for="nomeInstituicao" class="form-control" />
                        <span asp-validation-for="nomeInstituicao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ficheiroLogotipoForm" class="control-label">Logótipo da instituição (opcional)</label>
                        <input name="ficheiroLogotipoForm" class="form-control-file" type="file" />
                    </div>
                    <div class="form-group">
                        <label asp-for="dataInicio" class="control-label">Data de Início</label>
                        <input asp-for="dataInicio" class="form-control" />
                        <span asp-validation-for="dataInicio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="dataFim" class="control-label">Data de Fim</label>
                        <input asp-for="dataFim" class="form-control" />
                        <span asp-validation-for="dataFim" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" asp-for="conteudos" class="control-label">Conteúdos Programáticos</label>
                        <textarea asp-for="conteudos" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                        <span asp-validation-for="conteudos" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Adicionar" class="btn btn-primary" /> |
            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
