@model Site_v3_dinamico.Models.Formacao

@{
    ViewData["Title"] = "Create";
}

<!--Formação-->
<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Adicionar formação</h2>
            <div class="line-dec"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nomeInstituicao" class="control-label">Nome da Instituição</label>
                        <input asp-for="nomeInstituicao" class="form-control" />
                        <span asp-validation-for="nomeInstituicao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="dataInicio" class="control-label">Data de Início - Data de Fim</label>
                        <input asp-for="dataInicio" class="form-control" />
                        <span asp-validation-for="dataInicio" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="dataFim" class="control-label">Data de Início - Data de Fim</label>
                        <input asp-for="dataFim" class="form-control" />
                        <span asp-validation-for="dataFim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nomeCurso" class="control-label">Nome do Curso</label>
                        <input asp-for="nomeCurso" class="form-control" />
                        <span asp-validation-for="nomeCurso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="conteudos" class="control-label">Conteúdos Programáticos</label>
                        <input asp-for="conteudos" class="form-control" />
                        <span asp-validation-for="conteudos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Adicionar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
