@model Site_v3_dinamico.Models.Formacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Formacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nomeInstituicao" class="control-label"></label>
                <input asp-for="nomeInstituicao" class="form-control" />
                <span asp-validation-for="nomeInstituicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataIniciodataFim" class="control-label"></label>
                <input asp-for="dataIniciodataFim" class="form-control" />
                <span asp-validation-for="dataIniciodataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeCurso" class="control-label"></label>
                <input asp-for="nomeCurso" class="form-control" />
                <span asp-validation-for="nomeCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conteudos" class="control-label"></label>
                <input asp-for="conteudos" class="form-control" />
                <span asp-validation-for="conteudos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
