@model Site_v3_dinamico.Models.FormacaoComp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FormacaoComp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormacaoCompId" />
            <div class="form-group">
                <label asp-for="nomeInstituicaoComp" class="control-label"></label>
                <input asp-for="nomeInstituicaoComp" class="form-control" />
                <span asp-validation-for="nomeInstituicaoComp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataIniciodataFimComp" class="control-label"></label>
                <input asp-for="dataIniciodataFimComp" class="form-control" />
                <span asp-validation-for="dataIniciodataFimComp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeCursoComp" class="control-label"></label>
                <input asp-for="nomeCursoComp" class="form-control" />
                <span asp-validation-for="nomeCursoComp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
