@model Site_v3_dinamico.Models.SobreMimImg

@{
    ViewData["Title"] = "Delete";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover imagem</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Tem a certeza de que pretende remover esta imagem?</h3>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="SobreMimImgId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Cancelar</a>
        </form>
    </div>
</section>
