@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="color: white" class="section-heading">
                    <h2>Acesso negado</h2>
                    <div class="line-dec"></div>
                    
                </div>
                <section>
                    <img src="~/img/gandalf.png" />

                </section>
            </div>
        </div>
    </div>
</div>
