@{
    ViewData["Title"] = "Erro";
}
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Erro</i></h2>
                    <div class="line-dec"></div>
                </div>

                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.Title</h5>
                        <p class="card-text">@ViewBag.Mensagem</p>

                        <div>
                            <a class="btn btn-primary" asp-action="Index">
                                Ver lista de Serviços
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
